In [22]:
import pandas as pd
import numpy as np
df1=pd.read_csv("movies.csv")
df1.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [23]:
df1.shape

(9742, 3)

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [25]:
df2=pd.read_csv("ratings.csv")
df2.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [26]:
df2=df2.drop('timestamp',axis=1)
df2.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [27]:
df3=df2.groupby('movieId')[['userId']].count()
df3.head()

         userId
movieId
1           215
2           110
3            52
4             7
5            49

In [28]:
df2=df2.groupby('movieId')[['rating']].mean()
df2.head()

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429

In [29]:
df1=df1.merge(df2,on='movieId')
df1.head()

   movieId  ...    rating
0        1  ...  3.920930
1        2  ...  3.431818
2        3  ...  3.259615
3        4  ...  2.357143
4        5  ...  3.071429

[5 rows x 4 columns]

In [30]:
df1=df1.rename(columns={'rating':'avg_rating'})
df1.head()

   movieId  ... avg_rating
0        1  ...   3.920930
1        2  ...   3.431818
2        3  ...   3.259615
3        4  ...   2.357143
4        5  ...   3.071429

[5 rows x 4 columns]

In [31]:
df1=df1.merge(df3,on='movieId')
df1.head()

   movieId                               title  ... avg_rating  userId
0        1                    Toy Story (1995)  ...   3.920930     215
1        2                      Jumanji (1995)  ...   3.431818     110
2        3             Grumpier Old Men (1995)  ...   3.259615      52
3        4            Waiting to Exhale (1995)  ...   2.357143       7
4        5  Father of the Bride Part II (1995)  ...   3.071429      49

[5 rows x 5 columns]

In [32]:
df1=df1.rename(columns={'userId':'vote_count'})
df1.head()

   movieId                               title  ... avg_rating  vote_count
0        1                    Toy Story (1995)  ...   3.920930         215
1        2                      Jumanji (1995)  ...   3.431818         110
2        3             Grumpier Old Men (1995)  ...   3.259615          52
3        4            Waiting to Exhale (1995)  ...   2.357143           7
4        5  Father of the Bride Part II (1995)  ...   3.071429          49

[5 rows x 5 columns]

In [33]:
df1=df1.drop('genres',axis=1)
df1.head()

   movieId                               title  avg_rating  vote_count
0        1                    Toy Story (1995)    3.920930         215
1        2                      Jumanji (1995)    3.431818         110
2        3             Grumpier Old Men (1995)    3.259615          52
3        4            Waiting to Exhale (1995)    2.357143           7
4        5  Father of the Bride Part II (1995)    3.071429          49

Demographic filtering Recommender system

In [34]:
C=df1['avg_rating'].mean()
C

3.2624482748109656

In [35]:
m= df1['vote_count'].quantile(0.9)
m

27.0

In [36]:
q_movies = df1.copy().loc[df1['vote_count'] >= m]
q_movies.shape

(976, 4)

In [37]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['avg_rating']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [38]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [39]:
q_movies = q_movies.sort_values('score', ascending=False)
q_movies.head(10)

      movieId  ...     score
277       318  ...  4.337460
659       858  ...  4.162494
2224     2959  ...  4.161576
224       260  ...  4.137000
46         50  ...  4.123749
257       296  ...  4.121515
461       527  ...  4.119782
1938     2571  ...  4.110118
897      1196  ...  4.107505
314       356  ...  4.095747

[10 rows x 5 columns]

Collobarative filtering

In [40]:
df5=pd.read_csv('ratings.csv')
df5.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [41]:
df5=df5.drop('timestamp',axis=1)
df5.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [43]:
useritem = np.zeros([10000, 10000])
for userid in range(len(df5['userId'])):
    try:
        useritem[df5['userId'][userid]-1][df5['movieId'][userid]-1]=df5['rating'][userid]
    except:
        pass

In [45]:
moviecolumns=[]
for movieval in range(len(useritem)):
    moviecolumns.append("movie "+str(movieval))

In [46]:
mdf=pd.DataFrame(useritem,columns=moviecolumns)
mdf.head()

   movie 0  movie 1  movie 2  ...  movie 9997  movie 9998  movie 9999
0      4.0      0.0      4.0  ...         0.0         0.0         0.0
1      0.0      0.0      0.0  ...         0.0         0.0         0.0
2      0.0      0.0      0.0  ...         0.0         0.0         0.0
3      0.0      0.0      0.0  ...         0.0         0.0         0.0
4      4.0      0.0      0.0  ...         0.0         0.0         0.0

[5 rows x 10000 columns]

In [48]:
mdf['movie 0'][0]

4.0

In [49]:
def standerdize(row):
    new_row=(row-row.mean())/(row.max()-row.min())
    return new_row

In [50]:
smdf=mdf.apply(standerdize)
smdf=smdf.fillna(0)
smdf.head()

   movie 0  movie 1  movie 2  ...  movie 9997  movie 9998  movie 9999
0  0.78314 -0.00755  0.79661  ...         0.0         0.0         0.0
1 -0.01686 -0.00755 -0.00339  ...         0.0         0.0         0.0
2 -0.01686 -0.00755 -0.00339  ...         0.0         0.0         0.0
3 -0.01686 -0.00755 -0.00339  ...         0.0         0.0         0.0
4  0.78314 -0.00755 -0.00339  ...         0.0         0.0         0.0

[5 rows x 10000 columns]

In [51]:
from sklearn.metrics.pairwise import cosine_similarity
item_similarity=cosine_similarity(smdf.T)

In [52]:
its=pd.DataFrame(item_similarity,columns=moviecolumns)

In [53]:
its.head()

    movie 0   movie 1   movie 2  ...  movie 9997  movie 9998  movie 9999
0  1.000000  0.402207  0.290753  ...         0.0         0.0         0.0
1  0.402207  1.000000  0.277549  ...         0.0         0.0         0.0
2  0.290753  0.277549  1.000000  ...         0.0         0.0         0.0
3  0.032318  0.104439  0.090926  ...         0.0         0.0         0.0
4  0.302935  0.283069  0.415104  ...         0.0         0.0         0.0

[5 rows x 10000 columns]

In [56]:
def suggest_movies(movie_name,user_rating):
    similar_score=its[movie_name]*(user_rating-df5['rating'].mean())
    similar_score=similar_score.sort_values(ascending=False)
    return similar_score[:5]

In [57]:
suggest_movies('movie 0',5)

0       1.498443
3113    0.850011
479     0.833244
779     0.832490
259     0.820176
Name: movie 0, dtype: float64